In [1]:
import pandas as pd
import numpy as np
import datetime as datetime

Done importing

In [3]:
prices_df = pd.read_excel('USO_Historical_Data_30_Minute.xlsx', sheet_name = "Jan 2012", index_col=False)
prices_df.head()

,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume
0,Summary,267.04,-37.84,313.92,338.40,232.16,5659102.0,247401824
1,03JAN2012_00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09:30 - 10:00,315.84,10.96,313.92,316.56,313.92,4153.0,214532
3,10:00 - 10:30,316.24,0.40,315.84,316.88,315.68,3300.0,142334
4,10:30 - 11:00,315.76,-0.48,316.32,317.04,315.52,3308.0,125102

In [55]:
def clean_date(sheet_df):
    
    date_df = sheet_df.loc[sheet_df['Close'].isna()]
    date = list(date_df['Time Interval'])

    open_df = sheet_df[sheet_df['Time Interval'] == "09:30 - 10:00"]
    open_df.reset_index()
    open_df['date'] = pd.Series(date)
    close_df = sheet_df[sheet_df['Time Interval'] == "15:30 - 16:00"]
    close_df['date'] = pd.Series(date)
    
    open_close_df = pd.concat([open_df, close_df],ignore_index=True)
    
    return pd.Series(date)

clean_date(open_df)

NameError: name 'open_df' is not defined

NameError: name 'date' is not defined