In [1]:
import pandas as pd
import numpy as np
import datetime as datetime

Done importing

In [3]:
prices_df = pd.read_excel('USO_Historical_Data_30_Minute.xlsx', sheet_name = "Jan 2012", index_col=False)
prices_df.head()

,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume
0,Summary,267.04,-37.84,313.92,338.40,232.16,5659102.0,247401824
1,03JAN2012_00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09:30 - 10:00,315.84,10.96,313.92,316.56,313.92,4153.0,214532
3,10:00 - 10:30,316.24,0.40,315.84,316.88,315.68,3300.0,142334
4,10:30 - 11:00,315.76,-0.48,316.32,317.04,315.52,3308.0,125102

In [16]:
def clean_date(sheet_df):
    '''
    Takes in a sheet of the raw 30 minute interval data and returns a dataframe with only the start/end of day time intervals.
    '''
    
    date_df = sheet_df.loc[sheet_df['Close'].isna()]
    date = list(date_df['Time Interval'])

    open_df = sheet_df[sheet_df['Time Interval'] == "09:30 - 10:00"]
    open_df = open_df.reset_index()
    open_df['date'] = pd.Series(date)
    
    close_df = sheet_df[sheet_df['Time Interval'] == "15:30 - 16:00"]
    close_df = close_df.reset_index()
    close_df['date'] = pd.Series(date)
    
    open_close_df = pd.concat([open_df, close_df],ignore_index=True)
    
    #Fixing date column to datetime objects
    datestr = open_close_df['date']
    dateobj = []
    for item in datestr:
        dateobj.append(datetime.datetime.strptime(item[:7], "%d%b%y"))
    open_close_df['date'] = dateobj
    
    open_close_df = open_close_df.sort_values(by=['date'])
    
    return open_close_df

open_close_df = clean_date(prices_df)
open_close_df

,index,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume,date
0,2,09:30 - 10:00,315.84,10.96,313.92,316.5600,313.92,4153.0,214532,2020-01-03
248,14,15:30 - 16:00,317.52,-0.08,317.60,318.0000,317.44,3879.0,258519,2020-01-03
1,16,09:30 - 10:00,318.24,0.72,316.00,319.6800,315.52,13579.0,668658,2020-01-04
249,28,15:30 - 16:00,318.16,-0.08,318.16,318.3200,318.00,1719.0,61791,2020-01-04
2,30,09:30 - 10:00,315.20,-2.96,315.92,316.2400,314.48,4636.0,143663,2020-01-05
...,...,...,...,...,...,...,...,...,...,...
492,3457,15:30 - 16:00,267.04,0.00,266.96,267.3600,266.64,3128.0,192033,2020-12-26
244,3403,09:30 - 10:00,264.72,6.80,264.40,265.3600,264.08,1768.0,122233,2020-12-26
245,3417,09:30 - 10:00,265.16,0.04,265.36,265.5192,264.56,784.0,37777,2020-12-27
246,3431,09:30 - 10:00,265.20,-0.32,265.44,265.6800,265.04,894.0,65168,2020-12-28
247,3445,09:30 - 10:00,263.60,-0.72,263.20,263.8400,263.12,556.0,38546,2020-12-31

In [13]:
dates = open_close_df['date']
dateobj = datetime.datetime.strptime(dates[0][:7], "%d%b%y")
dateobj

datetime.datetime(2020, 1, 3, 0, 0)