In [75]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import math
import time
import datetime as datetime
from tqdm import tqdm

In [4]:
uso_df = pd.read_csv('USO_date_cleaned.csv')
uso_df

,Unnamed: 0,index,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume,date
0,0,2,09:30 - 10:00,315.84,10.96,313.92,316.56,313.92,4153.0,214532,2012-01-03
1,1,3,10:00 - 10:30,316.24,0.40,315.84,316.88,315.68,3300.0,142334,2012-01-03
2,2,4,10:30 - 11:00,315.76,-0.48,316.32,317.04,315.52,3308.0,125102,2012-01-03
3,3,5,11:00 - 11:30,314.48,-1.28,315.76,316.24,314.48,2321.0,78503,2012-01-03
4,4,6,11:30 - 12:00,315.44,0.96,314.48,315.68,314.16,2486.0,77054,2012-01-03
...,...,...,...,...,...,...,...,...,...,...,...
33088,33088,528,13:30 - 14:00,65.11,-0.06,65.18,65.30,65.01,1994.0,458381.0,2022-02-16
33089,33089,529,14:00 - 14:30,65.31,0.20,65.11,65.50,65.08,2457.0,471463.0,2022-02-16
33090,33090,530,14:30 - 15:00,65.48,0.17,65.35,65.69,65.29,1336.0,293893.0,2022-02-16
33091,33091,531,15:00 - 15:30,65.73,0.25,65.48,65.76,65.47,1240.0,238147.0,2022-02-16
33092,33092,532,15:30 - 16:00,65.80,0.07,65.73,65.85,65.58,2487.0,506784.0,2022-02-16

In [113]:
uso_df = pd.read_csv('USO_date_cleaned.csv')
start_interval = "09:30 - 10:00"
end_interval = "15:30 - 16:00"
# cash = 100
day = "2012-01-30"

def oneDay(etf, date, start_interval, end_interval, cash):
    # OPTIMIZE
    open = etf[etf['Time Interval'] == start_interval]
    close = etf[etf['Time Interval'] == end_interval]
    open_close = pd.concat([open, close])
    open_close = open_close.sort_values(by='date')
    
    day = open_close[open_close['date'] == date]
    
    rowiter = day.iterrows()
    for (i, row1), (j, row2) in zip(rowiter, rowiter):
        etfs_bought = 0
        if row1['Open'] < row1['Close']:
            etfs_bought = cash/row1['Close']
            cash -= etfs_bought * row1['Close']
            etfs_sold_price = etfs_bought * row2['Close']
            cash += etfs_sold_price
            # BUY FUNCTION
        else:
            etfs_sold = cash/row1['Close']
            cash += etfs_sold * row1['Close']
            etfs_bought_price = etfs_sold * row2['Close']
            cash -= etfs_bought_price
    #print("Bought: " + str(row1['Open'] < row1['Close']))
    print(row1['Close'])
    print(row2['Close'])
    return cash

day = oneDay(uso_df, day, start_interval, end_interval, 100)
day

304.0
304.08

,Unnamed: 0,index,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume,date
234,234,254,09:30 - 10:00,304.00,-2.4000,303.44,304.08,302.80,2131.0,62908,2012-01-30
246,246,266,15:30 - 16:00,304.08,-0.0712,304.16,304.32,303.76,1899.0,79278,2012-01-30

In [ ]:
datelist = pd.read_csv('datelist.csv')
dates = []
for i,val in datelist.iterrows():
    dates.append(val[1])

def moreDays(dates):
    cash = 100
    for day in tqdm(dates):
        prev_cash = cash
        cash += oneDay(uso_df, day, "09:30 - 10:00", "15:30 - 16:00", cash)
        cash -= prev_cash
    return cash

final = moreDays(dates)

print(final)

In [85]:
print(final)

nan

In [152]:
start_interval = "09:30 - 10:00"
end_interval = "15:30 - 16:00"
# cash = 100
day = "2012-01-30"

def oneDay2(etf, i1, i2, start_interval, end_interval, cash):
    # OPTIMIZE
    open = etf[etf['Time Interval'] == start_interval]
    close = etf[etf['Time Interval'] == end_interval]
    open_close = pd.concat([open, close])
    open_close = open_close.sort_values(by='date')
    open_close = open_close.reset_index()
    
    day = open_close.iloc[i1:i2]
    
    rowiter = day.iterrows()
    for (i, row1), (j, row2) in zip(rowiter, rowiter):
        etfs_bought = 0
        if row1['Open'] < row1['Close']:
            etfs_bought = cash/row1['Close']
            cash -= etfs_bought * row1['Close']
            etfs_sold_price = etfs_bought * row2['Close']
            cash += etfs_sold_price
            # BUY FUNCTION
        else:
            etfs_sold = cash/row1['Close']
            cash += etfs_sold * row1['Close']
            etfs_bought_price = etfs_sold * row2['Close']
            cash -= etfs_bought_price
    #print("Bought: " + str(row1['Open'] < row1['Close']))

    return cash

i1= 7
i2 = 9
day = oneDay2(uso_df, i1,i2, start_interval, end_interval, 100)
day

98.95461499235084

In [154]:
i1 = 5
i2 = 7
cash=100
while i2 < 5087:
    prev_cash = cash
    cash += oneDay2(uso_df, i1,i2, start_interval, end_interval, cash)
    cash -= prev_cash
    i1 += 2
    i2 += 2


print(cash)

5.057030852173527